:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --main-background-color: #fff;
  --herofooter-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --white-color: #ffffff;
}

/* styles for index.html */
body {
  color: var(--primary-text-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.logo {
  color: #000;
}
.web {
  color: var(--accent-color);
}
.site-nav .link {
  color: var(--secondary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.hero {
  background-color: var(--herofooter-background-color);
}
.hero-title {
  color: var(--white-color);
}
.hero .hero-button {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.about-title {
  color: var(--secondary-text-color);
}
.about-item {
  color: var(--secondary-text-color);
}
.team-title {
  color: var(--secondary-text-color);
}
.team-item {
  color: var(--secondary-text-color);
}
.footer {
  background-color: var(--herofooter-background-color);
}
.footer-studio {
  color: var(--white-color);
}
.footer-link {
  color: var(--white-color);
}

/* styles for portfolio.html */
button[type='button'] {
  color: var(--secondary-text-color);
  background-color: var(--team-background-color);
  border-color: transparent;
}
button[type='button']:hover,
button[type='button']:focus {
  color: var(--white-color: );
  background-color: var(--accent-color);
}
.portfolio-title {
  color: var(--secondary-text-color);
}
.portfolio-text {
  color: var(--primary-text-color);
}
